<div class="main post-index">
  <div class="container">
  <% @posts.each do |post| %>
    <div class="post-index-item">
      <%= link_to "#{post.content}", post_path(post), method: :get %>
    </div>
  <% end %>

  </div>
</div>
